<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

	<connectionStrings>
		<add name="ParishContext"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=localhost,1401;Database=ParishDB;User Id=sa;Password=Password!23;TrustServerCertificate=True"/>
	</connectionStrings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>

	<system.serviceModel>
		<services>
			<service behaviorConfiguration="ParishServiceBehavior" name="Parish.ParishService">
				<endpoint behaviorConfiguration="Web" 
						  binding="webHttpBinding"
						  name="Rest"
						  contract="Parish.IParishService" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ParishServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="Web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
	
</configuration>