<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ParishContext"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=localhost,1401;Database=ParishDB;User Id=sa;Password=Password!23;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>